/*Desktop View code beigns*/
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
@keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
@media (min-width: 601px) {
    .event-mobileview {
        display: none;
    }
}

.event-desktopview {
    height: 100vh;
    width: 100vw;
}

.Event-container {
    width: 100vw;
    height: 100vh;
    padding-top: 10vh;
    font-family: 'Montserrat', sans-serif;
}

.card-tech-cult {

    width: 25vw;
    height: max-content;
    background-color:rgba(0,5,12,0.5) ;
    border-radius: 2vw;
    border: 4px solid white;
    margin-left: 12.5vw;
    margin-right: 12.5vw;
    cursor: pointer;
    margin-top: 0vh;
    text-align: center;
    z-index: 4;

}
.card-tech-cult img{
	margin-top: 5vh;
	height: 20vh;
}

.card-tech-cult h3 {
    margin-top: 4vh;
    line-height: 10vh;
    font-size: 3vw;
    text-align: center;
    color: white;
    padding-bottom: 5vh;
}

.main-heading-container {
    height: 10vh;
    width: 100vw;
    margin: auto;
    position: relative;
    top:0;
    text-align: center;
}
#main-page-event-heading{
    position: relative;
    line-height: 0vh;
    font-size: 10vh;
    width: 100vw;
    z-index:1;
    top: 0vh;
    font-family: 'Josefin Sans', sans-serif; 
    letter-spacing: 3px; 
    text-align: center;
    color: white;
}
.event-heading{
    position: absolute;
    top: 2vh;
    padding-bottom: 1vh;
    font-size: 8vw;
    height: auto;
    width: 100vw;
    z-index:2;
    font-family: 'Josefin Sans', sans-serif; 
    letter-spacing: 3px; 
    text-align: center;
    color: white;
}
.heading-container {
    margin: 10vh;
    height: 25vh;
    width: 90vw;
    display: flex;
    margin: auto;
}
.writing-container {
    height: 20vh;
    width: 100vw;
    margin-top: 5vh;
    line-height: 8vh;
    font-size: 2.75vw;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 5vh;
    font-family: 'Montserrat', sans-serif;
}
.left-back-button-desktop ,.left_back_button{
    position: absolute;
    top: 20vh;
    width: 10vw;
    margin-left: 2vw;
    height: auto;
    border-radius: 7.5vh;
    font-size: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-family: 'Montserrat',sans-serif;
    background-color: white;
    text-align: center;
    z-index: 4;
    cursor: pointer;
}
.back-dark{
    height: 2vw;
}
.both-container {
    display: flex;
    height: max-content;
    width: 90vw;
    justify-content: center;
    margin: auto;
}

.pack_of_card {
    margin-top: 10vh;
    display: flex;
    width: 100vw;
    height: max-content;    
    padding-top: 10vh;
    position: relative;
    z-index: 3;

}
.pack_of_card3 {
    margin-top: 0vh;
    display: flex;
    left: 2.5vw;
    width: 100vw;
    height: max-content;    
    padding-top: 10vh;
    position: relative;
    z-index: 3;

}
.pack_of_card2 {
    display: flex;
    width: max-content;
    height: max-content;    
    padding-top: 10vh;
    position: relative;
    top: 0;
    left: 0;
    margin:0 auto;
}
.pack_of_card4 {
    display: flex;
    width: max-content;
    height: max-content;    
    padding-top: 5vh;
    position: relative;
    top: 0;
    left: 0;
    margin:0 auto;
}


.event-card,.event-card2 {
    height:max-content;
    width: 15vw;
    margin-left:2vw;
    margin-right: 2vw; 
    text-align: center;
    font-size: 1.5vw;
    color: white;
     border: 2px solid white;
    border-radius: 15%;
    background-color: rgba(0,5,12,0.5);
    z-index: 3;
    cursor: pointer;

}
.event-card2{
	margin-left: 1vw;
	margin-right: 1vw;
	width: 12vw;
	font-size: 1.2vw;
}


.event-card img,.event-card2 img {
    padding-top: 2vh;
    height: 80%;
    width: 80%;
}
.event-card p,.event-card2 p{
    padding-bottom: 2vh;
}
.upper-part{
    width: 100vw;
    display: flex;
}
.upper-part button{
    margin-left: 5vw;
    width:15vw;
    height:10vh;
    font-size: 3vw;
    margin-top: 7.5vh;
    margin-bottom: 5vh;
    border-radius: 5vh;
    cursor: default;
}
.lower-part{
    height: 75vh;
    width:100vw;
}
.event-name{
    position: relative;
    top: 8vh;
    left: 0;
    margin: auto;
    height:10vh;
    width :60vw;
    background-color: white;
    border-radius: 5vh;
    text-align: center;
    line-height: 10vh;;
    font-size: 3.5vw;
    font-family: 'Montserrat', sans-serif;

}
.sub-lower-part{
    height:max-content;
    width: 100vw;
    display: flex;
}
.sub-lower-part img{
    margin-top: 20.5vh;
    width:15vw;
    height:55vh;
}
.event-description{
    position: relative;
    top: 5vh;
    line-height: 7.25vh;
    font-size: 2vw;
    margin-top: 5vh;
    height:55vh;
    width: 40vw;
    color: white;
    border-radius: 11vh;
    padding: 5vh;
    text-align: center;
}
.poster-img{
	position: relative;
	top: -5vh;
	left: 0;
	height: 100%;
	width: auto;
}
.box-transition {
	transition: opacity 1s ease;
}

/*Desktop view code ends*/



#event{
    overflow: hidden;
}
.left-alien{
    position: absolute;
    bottom: -14vh;
    left: -35vh;
    width: 70vh; 
    z-index:3; 
    transition: 0.3s;
}
.right-alien{
    position: absolute;
    bottom: -14vh;
    right: -35vh;
    width: 70vh; 
    z-index:3; 
    transition: 0.3s;
}

/* mobile view code begins*/
.mobile-heading,.subheadingt,.subheadingc{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    font-size: 8vh;
    text-align: left;
    color: white;
    padding-left: 2vh;
    letter-spacing: 3px;
    font-family: 'Josefin Sans', sans-serif; 

}
.mobile-heading{
	top: 2vh;
}
.subheadingt,.subheadingc{
    font-size:5vh;
    padding-left: 2vh;
    padding-top: 2vh;
    display: none;
}
.tech-cult-heading{
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100vh;
    height: 90vh;
}
.tech-heading{
    position: relative;
    top: 0;
    left: 0;
    height: 35vh;
    width:60vw;
    margin-top:7.5vh;
    margin-bottom: 5vh;
    margin-left: 20vw;
    margin-right: 20vw;
    background-color: white;
    z-index: 5;
    text-align: center;
    border-radius: 12.5%;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif; 

}
.cult-heading{
    position: relative;
    top: 0;
    left: 0;
    height: 35vh;
    width:60vw;
    margin-top:5vh;
    margin-bottom: 5vh;
    margin-left: 20vw;
    margin-right: 20vw;
    background-color: white;
    z-index: 5;
    text-align: center;
    border-radius: 12.5%;
    font-family: 'Indie Flower', cursive;
}
.tech-heading p,.cult-heading p{
    font-size: 5vh;
    position: relative;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);
}
.techeventslist,.culteventslist,.culteventslist2{
    position: absolute;
    top: 0vh;
    width:100%; 
    height: 100vh;
    justify-content: center;
    display: none;
}
.culteventslist2{
	position: absolute;
}
.tevent,.cevent,.more{
    position: absolute;
    left: 5vw;
    width: 90vw;
    height: 8vh;
    border: 3.5vh;
    background-color: white;
    font-weight: bold;
    line-height: 8vh;
    margin-top: 2vh;
    border-radius: 3.5vh;
    text-align: center;
    font-size: 6vw;
    vertical-align: middle;
    justify-content: center;
    z-index: 5 !important;
    transition: 0.3s;
    border-bottom: 2px solid black;
}
.hidedata,.hidedatac{
    position: absolute;
    top: 12vh;
    left: 5vw;
    width: 90vw;
    height: 8vh;
    margin-top: 2vh;
    border-radius: 3.5vh;
    vertical-align: middle;
    justify-content: center;
    z-index: 10;
    display: none;
    
}
#tevent1,#cevent1,#cevent8{
    top: 12vh;
}
#tevent2,#cevent2,#cevent9{
    top: 22vh;
}
#tevent3,#cevent3,#cevent10{
    top: 32vh;
}
#tevent4,#cevent4,#cevent11{
    top: 42vh;
}
#tevent5,#cevent5,#cevent12{
    top: 52vh;
}
#tevent6,#cevent6,#cevent13{
    top: 62vh;
}
#cevent7,#cevent14{
    top: 72vh;
}
.more{
	position:absolute;
	top: 82vh;
	width: 40vw;
	left: 30vw;

}
.tdata,.cdata{
    position: absolute;
    top: 15vh;
    left: 5vw;
    text-align: center;
    width: 90vw;
    height: 0;
    color: black;
    background-color: white;
    border-radius: 3.5vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    vertical-align: middle;
    z-index: 3;
    display: none;
    transition: 0.3s;
}

.tdata p,.cdata p{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width:80vw; 
    font-size: 1rem;
    display: none;
    line-height: 20px;
    z-index: 2;
}
.cdata p {
	font-size: 0.8rem;
}
.back{
    position: absolute;
    top:7vh;
    left: 2vh;
    height: 4vh;
    background-color: white;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    z-index: 10;
    border-radius: 12%;
    border: 2px solid black;
    display: none;
}
.left-alien1{
    position: absolute;
    bottom: -8vh;
    left: -20vh;
    width: 40vh; 
    z-index:4; 
    transition: 0.3s;
}
.right-alien1{
    position: absolute;
    bottom: -8vh;
    right: -20vh;
    width: 40vh; 
    z-index:4; 
    transition: 0.3s;
}

@media (max-width: 600px) {
    .Event-container {
        display: none;
    }

    .event-mobileview {
        height: 100vh;
        width: 100vw;
    }

    .event-desktopview {
        display: none;
    }
}


/* common code ends */


/*mobile view code ends*/